{% extends "base1.html" %}


{% block content %}

    <div style="height:10px"></div>

    <div class="table-toolbar">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <button id="search_new" type="button" class="btn green">
                        新建
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="search_table">
        <thead>
        <tr>
            <th> ID</th>
            <th> 查询名</th>
            <th> 类型</th>
            <th> 说明</th>
            <th style="width:50px;"> 操作</th>
        </tr>
        </thead>

        <tbody>

        </tbody>
    </table>

    <!-- 新增查询 -->
    <div id="static01" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">新建查询</h4>
                </div>
                <div class="panel-body">
                    <form class="bs-example form-horizontal activate-form">{% csrf_token %}
                        <input type="text" id="search_statistic_id" name="search_statistic_id" hidden>
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label"><span
                                        style="color:red; ">*</span>查询名</label>
                                <div class="col-md-10">
                                    <input id="search_name" type="text" name="search_name" class="form-control">
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label"><span
                                        style="color:red; ">*</span>类型</label>
                                <div class="col-md-10">
                                    <select id="search_type" name="search_type" class="form-control">
                                        {% for cl in cycle_list %}
                                            <option value="{{ cl.id }}">{{ cl.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">说明</label>
                                <div class="col-md-10">
                                    <textarea id="search_remark" type="text" name="search_remark" class="form-control"></textarea>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2 control-label"><b>指标列</b></div>
                                <div class="col-md-10">
                                    <hr style="height:1px;border:none;border-top:1px solid #87cefa;">
                                </div>
                            </div>
                            <div class="form-group" style="padding: 0 10px">
                                <div class="table-toolbar">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div>
                                                <button id="col_new" type="button" class="btn green">
                                                    新建
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="col_table">
                                    <thead>
                                    <tr>
                                        <th> 列名</th>
                                        <th> 是否分组</th>
                                        <th> 指标集</th>
                                        <th> 说明</th>
                                        <th style="width:50px;"> 操作</th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <div class="form-actions ">
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn dark btn-outline">关闭
                                </button>
                                <button type="button" id="statistic_save" name="confirm" class="btn green">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div >
    <!-- 新建指标列 -->
    <div id="static02" class="modal fade" data-backdrop="static" data-keyboard="false" data-dismiss="modal">
        <div class="modal-dialog" style="width: 780px; margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">新建指标列</h4>
                </div>
                <div class="panel-body">
                    <form class="bs-example form-horizontal activate-form">{% csrf_token %}
                        <input type="text" id="col_id" name="col_id" hidden>
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label"><span
                                        style="color:red; ">*</span>列名</label>
                                <div class="col-md-10">
                                    <input id="col_name" type="text" name="col_name" class="form-control">
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="form_control_1"><span
                                        style="color:red; ">*</span>是否分组</label>
                                <div class="col-md-10">
                                    <select id="if_group" name="if_group" class="form-control">
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="single_div" hidden>
                                <label class="col-md-2 control-label" for="form_control_1"><span
                                        style="color:red; ">*</span>指标</label>
                                <div class="col-md-10">
                                    <select id="single_target" name="single_target" class="form-control select2">
                                        <option value="1">指标1</option>
                                        <option value="2">指标2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="multiple_div">
                                <label class="col-md-2 control-label" for="form_control_1"><span
                                        style="color:red; ">*</span>指标</label>
                                <div class="col-md-10">
                                    <select id="multiple_targets" name="multiple_targets" class="form-control select2" multiple>
                                        <option value="1">指标1</option>
                                        <option value="2">指标2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">说明</label>
                                <div class="col-md-10">
                                    <textarea id="col_remark" type="text" name="col_remark" class="form-control"></textarea>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div id="rename_div">
                                <div class="form-group">
                                    <div class="col-md-2 control-label"><b>重命名</b></div>
                                    <div class="col-md-10">
                                        <hr style="height:1px;border:none;border-top:1px solid #87cefa;">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row col-md-2" style="margin: 0">
                                    </div>
                                    <div class="row col-md-10" style="margin: 0" id="new_target">
                                        <div class="form-group" style="margin-left: 0; margin-right: 0" target_id="">
                                            <div class="col-md-5" style="padding: 0">
                                                <input type="text" readonly class="form-control">
                                            </div>
                                            <div class="col-md-2" style="padding: 0 40px; margin-top:5px">
                                                <span style="text-align: center; vertical-align: middle;"><i class="fa fa-lg fa-arrow-right" style="color: #00B83F"></i></span>
                                            </div>
                                            <div class="col-md-5" style="padding: 0">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions ">
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn dark btn-outline">关闭
                                </button>
                                <button type="button" id="col_load" name="col_load" class="btn green" data-dismiss="modal">载入</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
        var all_targets = {{ targets|safe }}
    </script>

    <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet"
          type="text/css"/>
    <link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet"
          type="text/css"/>
    <link href="/static/assets/global/plugins/select2/css/select2.css" rel="stylesheet" type="text/css"/>
    <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <script src="/static/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"
            type="text/javascript"></script>
    <script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js"
            type="text/javascript"></script>
    <script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.quicksearch.js"
            type="text/javascript"></script>
    <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/static/assets/pages/scripts/components-select2.js" type="text/javascript"></script>


{% endblock %}
